body {
    background: #f4f6fb;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* ================= NAVBAR ================= */

.top-nav {
    width: 95%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== CAJA DEL LOGO ===== */

.logo-box {
    overflow: hidden;
    background: white;
    padding: 10px 20px 05px 20px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
    height: 90px;
}

/* ===== CAJA DEL MENÚ ===== */

.menu-box {
    background: white;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
}

.menu {
    list-style: none;
    display: flex;
    gap: 45px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #9a9a9a;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 22px;
    border-radius: 20px;
    transition: 0.3s;
}

.menu li.activea a {
    background: #2f6fed;
    color: white;
}

.menu li a:hover {
    background: #e8eefc;
    color: #2f6fed;
}

/* ================= CONTENEDOR ================= */

.container {
    width: 95%;
    margin: 0 auto;
}

/* ================= TÍTULO ================= */

.title {
    font-size: 48px;
    margin: 30px 0;
    font-weight: 600;
}

/* ================= CARDS ================= */

.cards {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    min-width: 180px;
}

.card span {
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

.card h2 {
    margin: 5px 0 0;
    font-size: 32px;
    font-weight: 500;
}

.active-card {
    background-color: #2f6fed;
}

.active-card span,
.active-card h2 {
    color: white;
}

/* ================= FILTROS ================= */

.filter-boxes {
    padding-left: 450px;
    align-items: right;
    display: flex;
    gap: 25px;
}

.filter-box{
    margin-left: auto;
    padding-left: 50px;
    height: auto;
    gap: 15px;
    display: flex;
}

.filter-box h2{
    font-weight: normal;
}
.filter-box select {
    padding: 14px 25px;
    border-radius: 20px;
    border: none;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    outline: none;
    cursor: pointer;
    min-width: 180px;
    appearance: none;
    height: auto;
}

/* ================= SECCIÓN PRINCIPAL ================= */

.main-section {
    width: 95%;
    margin: 40px auto;
    display: flex;
    gap: 30px;
    align-items: stretch;
}

/* ================= SIDEBAR ================= */

.sidebar {
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-btn{
    width: 80px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #bbb;
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
    border: none;
}

/* ================= BOTON AGREGAR ================= */
.agregar{
    background: white url("../images/agregar.png") no-repeat center;
}

.agregar:hover {
    background: #2f6fed url("../images/agregarHover.png") no-repeat center;
    background-size: 32px 32px;
}

/* ================= BOTON EDITAR ================= */
.editar {
    background: white url("../images/editar.png") no-repeat center;
}

.editar:hover {
    background: #2f6fed url("../images/editarHover.png") no-repeat center;
    background-size: 32px 32px;
}

/* ================= BOTON ELIMINAR ================= */
.eliminar {
    background: white url("../images/eliminar.png") no-repeat center;
}

.eliminar:hover {
    background: #2f6fed url("../images/eliminarHover.png") no-repeat center;
    background-size: 32px 32px;
}

/* ================= CAJA GRANDE ================= */

.content-box {
    flex: 1;
    min-height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

/* ================= INPUT ================= */
.input{
    border-radius: 20px;
    border: none;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    outline: none;
    cursor: auto;
    width: 130px;
    height: auto;
    padding-left: 25px;
}

/* ================= DIALOG BASE ================= */
.dialog-base {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    width: 37.04vh;
    height: 41.67vh;
}

.dialog-base h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

.dialog-base select,
.dialog-base input {
    border: #555 solid 1px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    padding: 03px;
    transition: 0.3s;
}

.dialog-base select:focus,
.dialog-base input:focus {
    border-color: #1f5fa9;
    box-shadow: 0 0 0 3px rgba(31, 95, 169, 0.15);
    outline: none;
    transform: translateY(-1px);
}

.dialog-base button {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 20px;
    color: #bbb;
    font-weight: 500;
    border: 0.2px;
    transition: 0.3s;
}

.cajitas {
    display: flex;
    gap: 20px;
}

/* ================= DIALOG AGREGAR ================= */
.dialog-agregar select {
    height: 38.19px;
}

.dialog-agregar input {
    height: 30px;
    width: 100px;
}

/* ================= DIALOG EDITAR ================= */
.dialog-editar select {
    height: 3vh;
    width: min-content;
}

.dialog-editar input {
    height: 3vh;
    width: 10vh;
}

/* ================= DIALOG ELIMINAR ================= */
.dialog-eliminar{
    height: fit-content;
}

.dialog-eliminar select {
    height: 3vh;
    width: min-content;
}

.dialog-eliminar input {
    height: 3vh;
    width: 15vh;
}

/* ================= BOTON ACEPTAR Y CANCELAR ================= */
.btn-aceptar:hover {
    background: #2f6fed;
    color: white;
}

.btn-cancelar:hover {
    background: #ce3535;
    color: white;
}


/* ================= DIALOG ABRIR ================= 
.dialog-agregar{
    background: rgb(255, 255, 255);
    width: 400px;
    height: 450px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.dialog-agregar h3{
    font-weight: normal;
    margin-bottom: 5px;
}

.dialog-agregar select:focus,
.dialog-agregar input:focus {
    border-color: #1f5fa9;
    box-shadow: 0 0 0 3px rgba(31, 95, 169, 0.15);
    outline: none;
    transform: translateY(-1px);
}

.dialog-agregar select{
    height: 38.19px;
    border:#555 solid 1px;
    border-radius: 10px;
    font-size: 13px; 
    font-family: 'Segoe UI', sans-serif;
    padding: 03px;
}

.ruta {
    width: 100px;
}

.autobus{
    width: 182.64px;
}

.dialog-agregar input {
    height: 30px;
    border: #555 solid 1px;
    border-radius: 10px;
    width: 100px;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    padding: 03px;
}

.cajitas{
    display: flex;
    gap: 20px;
}

.dialog-agregar button{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 20px;
    color: #bbb;
    font-weight: 500;
    border: 0.2px;
    transition: 0.3s;
}

.btn-aceptar:hover{
    background: #2f6fed;
    color: white;
}

.btn-cancelar:hover {
    background: #ce3535;
    color: white;
}

/* ================= DIALOG EDITAR ================= 
.dialog-editar {
    background: rgb(255, 255, 255);
    width: 37.04vh;
    height: 41.67vh;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.dialog-editar h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

.dialog-editar select {
    height: 3vh;
    width: min-content;
    border: #555 solid 1px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    padding: 03px;
}

.dialog-editar input {
    height: 3vh;
    width: 10vh;
    border: #555 solid 0.5px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    padding: 03px;
    transition: 0.3s;
}

.dialog-editar button {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 20px;
    color: #bbb;
    font-weight: 500;
    border: 0.2px;
    transition: 0.3s;
}

.dialog-editar select:focus,
.dialog-editar input:focus {
    border-color: #1f5fa9;
    box-shadow: 0 0 0 3px rgba(31, 95, 169, 0.15);
    outline: none;
    transform: translateY(-1px);
}


/* ================= DIALOG ELIMINAR ================= 
.dialog-eliminar {
    background: rgb(255, 255, 255);
    width: 37.04vh;
    height: 41.67vh;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.dialog-eliminar h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

.dialog-eliminar select {
    height: 3vh;
    width: min-content;
    border: #555 solid 1px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    padding: 03px;
}

.dialog-eliminar input {
    height: 3vh;
    width: 10vh;
    border: #555 solid 0.5px;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Segoe UI', sans-serif;
    padding: 03px;
    transition: 0.3s;
}

.dialog-eliminar button {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 20px;
    color: #bbb;
    font-weight: 500;
    border: 0.2px;
    transition: 0.3s;
}

.dialog-eliminar select:focus,
.dialog-eliminar input:focus {
    border-color: #1f5fa9;
    box-shadow: 0 0 0 3px rgba(31, 95, 169, 0.15);
    outline: none;
    transform: translateY(-1px);
}

*/