body {
    background: #f4f6fb;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* ================= NAVBAR ================= */

.top-nav {
    width: 95%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===== CAJA DEL LOGO ===== */

.logo-box {
    background: white;
    padding: 31px 60px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
}

.logo-box img {
    height: 65px;
}

/* ===== CAJA DEL MENÚ ===== */

.menu-box {
    background: white;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
}

.menu {
    list-style: none;
    display: flex;
    gap: 45px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #9a9a9a;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 22px;
    border-radius: 20px;
    transition: 0.3s;
}

.menu li.activea a {
    background: #2f6fed;
    color: white;
}

.menu li a:hover {
    background: #e8eefc;
    color: #2f6fed;
}

/* ================= CONTENEDOR ================= */

.container {
    width: 95%;
    margin: 0 auto;
}

/* ================= TÍTULO ================= */

.title {
    font-size: 48px;
    margin: 30px 0;
    font-weight: 600;
}

/* ================= CARDS ================= */

.cards {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    min-width: 180px;
}

.card span {
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

.card h2 {
    margin: 5px 0 0;
    font-size: 32px;
    font-weight: 500;
}

.active-card {
    background-color: #2f6fed;
}

.active-card span,
.active-card h2 {
    color: white;
}

/* ================= FILTROS ================= */

.filter-box {
    margin-left: auto;

}

.filter-box select {
    padding: 14px 25px;
    border-radius: 20px;
    border: none;
    background: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    min-width: 180px;
    appearance: none;
}

/* ================= SECCIÓN PRINCIPAL ================= */

.main-section {
    width: 95%;
    margin: 40px auto;
    display: flex;
    gap: 30px;
    align-items: stretch;
}

/* ================= SIDEBAR ================= */

.sidebar {
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-btn {
    width: 80px;
    height: 60px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #bbb;
    cursor: pointer;
    transition: 0.3s;
}

.side-btn:hover {
    background: #2f6fed;
    color: white;
}

/* ================= CAJA GRANDE ================= */

.content-box {
    flex: 1;
    min-height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}