* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.form-header,
form {
    width: 100%;
    max-width: 400px;
}

.container {
    display: flex;
    height: 100vh;
}

.image-section {
    width: 50%;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-section {
    width: 65%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    align-items: center;
}

.form-header h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.info-box {
    display: flex;
    align-items: center;
    background-color: #e9f2ff;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.info-icon {
    font-size: 20px;
    margin-right: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #1f5fa9;
}

.role-row {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.role-select {
    flex: 1;
}

.btn-primary {
    padding: 12px 25px;
    background-color: #1f5fa9;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    height: 42px;
}

.btn-primary:hover {
    background-color: #174a85;
}

.form-footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.btn-outline {
    padding: 6px 15px;
    border-radius: 20px;
    border: 2px solid #e25a2c;
    color: #e25a2c;
    text-decoration: none;
    font-weight: bold;
}

.btn-outline:hover {
    background-color: #e25a2c;
    color: white;
}
