<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios | Transportes Cuervo Negro</title>
    <link rel="stylesheet" href="../statics/css/comprarboleto.css">
</head>
<body>

    <div class="main">
        
        <div class="encabezado">
            <header class="titulo">HORARIOS</header>
        </div>

        <br>

        <div class="info">
            <div class="tarjeta_boton">
                <button  class="btn_regresar"><img src="../statics/images/home.png" alt="Regresar">Regresar</button>
            </div>

            <div class="tarjeta_ruta">
                <div class="separacion1"></div>
                <h3 class="label_ruta">Ruta:</h3>
                <h3 class="dinamico_ruta">Tijuana-Hermosillo</h3>
            </div>

            <div class="tarjeta_fecha">
                <div class="separacion2"></div>
                <h3 class="label_fecha">Fecha:</h3>
                <h3 class="dinamico_fecha">22/03/2026</h3>
            </div>

            <div class="tarjeta_pasajeros">
                <div class="separacion3"></div>
                <h3 class="label_pasajeros">Pasajeros:</h3>
                <h3 class="dinamico_pasajeros">3</h3>
            </div>
        </div>


        <div class="lista_corridas">

            <div class="corrida corrida--plus">

                <div class="izquierda">
                    <div class="bus">
                        <div class=""></div>
                        <h3>Autobús</h3>
                        <h3 class="dinamico_numbus">160</h3>
                    </div>

                    <div class="lugares">
                        <h3>Lugares:</h3>
                        <h3 class="dinamico_lugares">30</h3>
                    </div>
                </div>

                <div class="origen">
                    <div class="fecha">
                        <h3>22/03/2026</h3>
                    </div>

                    <div class="ciudad">
                        <h3>Tijuana</h3>
                    </div>

                    <div class="hora">
                        <h3>9:30</h3>
                    </div>
                </div>

                <div class="medio">
                    <div class="clase">
                        <h3>PLUS</h3>
                    </div>

                    <div class="barra"></div>

                    <div class="seccion_boton">
                        <button class="btn_seleccionar">Seleccionar</button>
                    </div>
                </div>

                <div class="destino">
                    <h3 class="fecha_llegada">23/03/2026</h3>
                    <h3 class="ciudad_destino">Hermosillo</h3>
                    <h3 class="hora_llegada">2:00</h3>
                </div>

                <div class="derecha">
                    <div class="label_precio">
                        <h3>Precio</h3>
                    </div>
                    
                    <div class="precio">
                        <h3>$1650</h3>
                    </div>
                </div>

            </div>


            <div class="corrida corrida--platino">

                <div class="izquierda">
                    <div class="bus">
                        <div class=""></div>
                        <h3>Autobús</h3>
                        <h3 class="dinamico_numbus">510</h3>
                    </div>

                    <div class="lugares">
                        <h3>Lugares:</h3>
                        <h3 class="dinamico_lugares">15</h3>
                    </div>
                </div>

                <div class="origen">
                    <div class="fecha">
                        <h3>22/03/2026</h3>
                    </div>

                    <div class="ciudad">
                        <h3>Tijuana</h3>
                    </div>

                    <div class="hora">
                        <h3>14:30</h3>
                    </div>
                </div>

                <div class="medio">
                    <div class="clase">
                        <h3>PLATINO</h3>
                    </div>

                    <div class="barra"></div>

                    <div class="seccion_boton">
                        <button class="btn_seleccionar">Seleccionar</button>
                    </div>
                </div>

                <div class="destino">
                    <h3 class="fecha_llegada">23/03/2026</h3>
                    <h3 class="ciudad_destino">Hermosillo</h3>
                    <h3 class="hora_llegada">5:00</h3>
                </div>

                <div class="derecha">
                    <div class="label_precio">
                        <h3>Precio</h3>
                    </div>
                    
                    <div class="precio">
                        <h3>$2150</h3>
                    </div>
                </div>

            </div>


            <div class="corrida corrida--plus">

                <div class="izquierda">
                    <div class="bus">
                        <div class=""></div>
                        <h3>Autobús</h3>
                        <h3 class="dinamico_numbus">113</h3>
                    </div>

                    <div class="lugares">
                        <h3>Lugares:</h3>
                        <h3 class="dinamico_lugares">27</h3>
                    </div>
                </div>

                <div class="origen">
                    <div class="fecha">
                        <h3>22/03/2026</h3>
                    </div>

                    <div class="ciudad">
                        <h3>Tijuana</h3>
                    </div>

                    <div class="hora">
                        <h3>16:30</h3>
                    </div>
                </div>

                <div class="medio">
                    <div class="clase">
                        <h3>PLUS</h3>
                    </div>

                    <div class="barra"></div>

                    <div class="seccion_boton">
                        <button class="btn_seleccionar">Seleccionar</button>
                    </div>
                </div>

                <div class="destino">
                    <h3 class="fecha_llegada">23/03/2026</h3>
                    <h3 class="ciudad_destino">Hermosillo</h3>
                    <h3 class="hora_llegada">5:00</h3>
                </div>

                <div class="derecha">
                    <div class="label_precio">
                        <h3>Precio</h3>
                    </div>
                    
                    <div class="precio">
                        <h3>$1650</h3>
                    </div>
                </div>

            </div>
            

            <div class="corrida corrida--plus">

                <div class="izquierda">
                    <div class="bus">
                        <div class=""></div>
                        <h3>Autobús</h3>
                        <h3 class="dinamico_numbus">183</h3>
                    </div>

                    <div class="lugares">
                        <h3>Lugares:</h3>
                        <h3 class="dinamico_lugares">7</h3>
                    </div>
                </div>

                <div class="origen">
                    <div class="fecha">
                        <h3>22/03/2026</h3>
                    </div>

                    <div class="ciudad">
                        <h3>Tijuana</h3>
                    </div>

                    <div class="hora">
                        <h3>18:30</h3>
                    </div>
                </div>

                <div class="medio">
                    <div class="clase">
                        <h3>PLUS</h3>
                    </div>

                    <div class="barra"></div>

                    <div class="seccion_boton">
                        <button class="btn_seleccionar">Seleccionar</button>
                    </div>
                </div>

                <div class="destino">
                    <h3 class="fecha_llegada">23/03/2026</h3>
                    <h3 class="ciudad_destino">Hermosillo</h3>
                    <h3 class="hora_llegada">9:30</h3>
                </div>

                <div class="derecha">
                    <div class="label_precio">
                        <h3>Precio</h3>
                    </div>
                    
                    <div class="precio">
                        <h3>$1650</h3>
                    </div>
                </div>

            </div>


        </div>


    </div>
    
</body>
</html>