<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="../statics/images/LOGO TCN azul.png">
    <title>Confirmación de compra | Transportes Cuervo Negro</title>
    <link rel="stylesheet" href="../statics/css/confirmacion-compra.css">
</head>
<body>

    <div class="container">

        <div class="header">
            <h1>Confirmación de compra</h1>
        </div>

        <div class="resumen">

            <div class="resumen-header">
                <h1>RESUMEN</h1>
            </div>

            <div class="resumen-body">

                <div class="resumen-item">
                    <span>Ruta:</span>
                    <span>Tijuana - Hermosillo</span>
                </div>

                <div class="resumen-item">
                    <span>Fecha de salida:</span>
                    <span>22/03/2026</span>
                </div>

                <div class="resumen-item">
                    <span>Hora:</span>
                    <span>9:30 AM</span>
                </div>

                <div class="resumen-item">
                    <span>Servicio:</span>
                    <span>PLUS</span>
                </div>

                <div class="resumen-item">
                    <span>Autobús:</span>
                    <span>164</span>
                </div>

                <div class="resumen-item">
                    <span>Pasajeros:</span>
                    <span>3</span>
                </div>

                <div class="resumen-item total">
                    <span>Total a pagar:</span>
                    <span>$6450</span>
                </div>

            </div>

        </div>

        <div class="botones">
            <button class="btn-regresar">
                <img src="../statics/images/home.png" alt="Logo home">
                Regresar
            </button>
            
            <button type="submit" class="btn-continuar">
                <img src="../statics/images/boletos.png" alt="Logo boletos">
                Continuar
            </button>
        </div>

    </div>
    
</body>
</html>