<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Transportes Cuervo Negro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../statics/images/LOGO TCN azul.png">
    <link rel="stylesheet" href="../statics/css/corridas.css">
</head>

<body>

    <div class="top-nav">

        <div class="logo-box">
            <img src="../statics/images/logo.png" alt="Logo TCN">
        </div>

        <div class="menu-box">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="reservaciones.html">Reservaciones</a></li>
                <li class="activea"><a href="corridas.html">Corridas</a></li>
                <li><a href="rutas.html">Rutas</a></li>
                <li><a href="operadores.html">Operadores</a></li>
                <li><a href="autobuses.html">Autobuses</a></li>
            </ul>
        </div>

    </div>

    <div class="container">
        <h1 class="title">Corridas</h1>

        <div class="cards">

            <div class="card active-card">
                <span>Corridas Activas</span>
                <h2>5</h2>
            </div>

            <div class="card">
                <span>Pasajeros</span>
                <h2>28</h2>
            </div>

            <div class = "filter-boxes">
                <div class="filter-box">
                    <h2>Número</h2>
                    <input type="number" min="0" placeholder="Número" class="input">
                </div>

                <div class="filter-box">
                    <h2>Origen</h2>
                    <select>
                        <option selected disabled>Origen</option>
                        <option>Todos</option>
                        <option>Ensenada</option>
                        <option>San Felipe</option>
                        <option>San Quintín</option>
                        <option>Mexicali</option>
                        <option>Tecate</option>
                        <option>Tijuana</option>
                    </select>
                </div>

                <div class="filter-box">
                    <h2>Destino</h2>
                    <select>
                        <option selected disabled>Destino</option>
                        <option>Todos</option>
                        <option>Ensenada</option>
                        <option>San Felipe</option>
                        <option>San Quintín</option>
                        <option>Mexicali</option>
                        <option>Tecate</option>
                        <option>Tijuana</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--*********************************DIALOGO PARA AGREGAR*********************************-->
    <dialog id="agregar" class="dialog-agregar dialog-base">
        <h1>Agregar Corrida</h1>
        <form>
            <DIV>
                <div class="cajitas">
                    <div>
                        <h3>Ruta</h3>
                        <select class="ruta">
                            <option selected disabled>Ruta</option>
                            <option>TIJ-TEC</option>
                            <option>TIJ-MEX</option>
                            <option>TIJ-SNQ</option>
                            <option>TIJ-SFL</option>
                            <option>TIJ-ESE</option>
                        </select>
                    </div>
                    <div>
                        <h3>Operador</h3>
                        <select>
                            <option selected disabled>Operador</option>
                            <option>1 - Héctor Armando Figueroa Orozco</option>
                            <option>2 - Juan Manuel Hernández Martínez</option>
                            <option>3 - Leonardo Ivan Valdez Galán</option>
                        </select>
                    </div>
                    
                </div>
                <div class="cajitas">
                    <div>
                        <h3>Fecha</h3>
                        <input type="date">
                    </div>
                    <div>
                        <h3>Salida</h3>
                        <input type="time" width="118px">
                    </div>
                    <div>
                        <h3>Llegada</h3>
                        <input type="time" width="118px">
                    </div>
                </div>
                <div class="cajitas">
                    <div>
                        <h3>Precio</h3>
                        <input type="number" min="100" max="3000" placeholder="Precio (M.X.N.)">
                    </div>
                    <div>
                        <h3>Autobús</h3>
                        <select>
                            <option selected disabled>Autobús</option>
                            <option>106 - IRIZA IRIZ6 (ERT56T)</option>
                            <option>118 - IRIZA IRIZ6 (BC09IJ)</option>
                            <option>130 - IRIZA IRIZ6 (DE29XU)</option>
                        </select>
                    </div>
                </div>

            </div>
        </form>
        <div class="aceptar-cancelar">
            <button id="aceptarAgregar" class="btn-aceptar">Aceptar</button>
            <button id="cancelarAgregar" class="btn-cancelar">Cancelar</button>
        </div>
    </dialog>

    <!--*********************************DIALOGO PARA EDITAR*********************************-->
    <dialog id="editar" class="dialog-editar dialog-base">
        <h1>Editar Corrida</h1>
        <form>
            <div class="cajitas">
                <div>
                    <h3>Corrida</h3>
                    <input type="number" min="0" max="3000" placeholder="Corrida a editar">
                </div>

                <div>
                    <h3>Operador</h3>
                    <select>
                        <option selected disabled>Operador</option>
                        <option>1 - Héctor Armando Figueroa Orozco</option>
                        <option>2 - Juan Manuel Hernández Martínez</option>
                        <option>3 - Leonardo Ivan Valdez Galán</option>
                    </select>
                </div>
            </div>
            
            <div>
                <h3>Autobús</h3>
                <select>
                    <option selected disabled>Autobús</option>
                    <option>106 - IRIZA IRIZ6 (ERT56T)</option>
                    <option>118 - IRIZA IRIZ6 (BC09IJ)</option>
                    <option>130 - IRIZA IRIZ6 (DE29XU)</option>
                </select>
            </div>

            <div class="cajitas">
                <div>
                    <h3>Fecha</h3>
                    <input type="date">
                </div>
                <div>
                    <h3>Salida</h3>
                    <input type="time" width="118px">
                </div>
                <div>
                    <h3>Llegada</h3>
                    <input type="time" width="118px">
                </div>
            </div>

        </form>
        <div class="aceptar-cancelar">
            <button id="aceptarEditar" class="btn-aceptar">Aceptar</button>
            <button id="cancelarEditar" class="btn-cancelar">Cancelar</button>
        </div>
    </dialog>

    <!--*********************************DIALOGO PARA ELIMINAR*********************************-->
    <dialog id="eliminar" class="dialog-eliminar dialog-base">
        <h1>Eliminar Corrida</h1>
        <form>
            <div class="cajitas">
                <div>
                    <h3>Corrida</h3>
                    <input type="number" min="0" max="3000" placeholder="Corrida a editar">
                </div>
                <div>
                    <h3>Estado actual</h3>
                    <input type="text" placeholder="Estado de corrida">
                </div>
            </div>
            <div>
                <h3>Estado</h3>
                <select>
                    <option selected disabled>Estado</option>
                    <option>ACTIVO</option>
                    <option>INACTIVO</option>
                </select>
            </div>
    
        </form>
        <div class="aceptar-cancelar">
            <button id="aceptarEliminar" class="btn-aceptar">Aceptar</button>
            <button id="cancelarEliminar" class="btn-cancelar">Cancelar</button>
        </div>
    </dialog>

    <!--*********************************DIALOGO PARA CORRIDAS POR FECHA Y CIUDADES*********************************-->
    <dialog id="fechaCiudad" class="dialog-fechaCiudad dialog-base">
        
        <form>
            <div class="titulo-cajitas">
                <h1>Corridas por fecha y ciudad</h1>
                <div class="cajitas">
                    <div>
                        <h3>Fecha</h3>
                        <input type="date" placeholder="Corrida a editar">
                    </div>
                    <div>
                        <h3>Ciudad</h3>
                        <select>
                            <option selected disabled>Origen</option>
                            <option>Todos</option>
                            <option>Ensenada</option>
                            <option>San Felipe</option>
                            <option>San Quintín</option>
                            <option>Mexicali</option>
                            <option>Tecate</option>
                            <option>Tijuana</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <!-- aquí va la tabla después -->
                <table class="tabla-fechaCiudad">
                    <tr bgcolor = "#2f6fed" style="color: white;">
                        <th width="15%">Salida</th>
                        <th width="10%">Corrida</th>
                        <th width="15%">Destino</th>
                        <th width="15%">Autobús</th>
                        <th width="15%">Matrícula</th>
                        <th width="30%">Operador</th>
                    </tr>
                    <tr align="center">
                        <td>8:00</td>
                        <td>25</td>
                        <td>Mexicali</td>
                        <td>520</td>
                        <td>GHY700</td>
                        <td>Sofía Castro Ortega</td>
                    </tr>
                    <tr align="center">
                        <td>13:00</td>
                        <td>26</td>
                        <td>Mexicali</td>
                        <td>170</td>
                        <td>MX89NL</td>
                        <td>David Ruiz Moreno</td>
                    </tr>
                    <tr align="center">
                        <td>10:00</td>
                        <td>31</td>
                        <td>San Quintín</td>
                        <td>130</td>
                        <td>DE29XU</td>
                        <td>Andrea Reyes Vargas</td>
                    </tr>
                    <tr align="center">
                        <td>8:00</td>
                        <td>13</td>
                        <td>Tijuana</td>
                        <td>104</td>
                        <td>UY767Y</td>
                        <td>Javier Díaz Ramírez</td>
                    </tr>
                </table>
            </div>
        </form>
        <div class="cerrar-fechaCiudad">
            <button id="cerrarFechaCiudad" class="btn-cancelar">Cerrar</button>
        </div>
    </dialog>

    <!--*********************************DIALOGO PARA BOLETOS VENDIDOS EN UN DIA*********************************-->
    <dialog id="boletos" class="dialog-fechaCiudad dialog-base">
    
        <form>
            <div class="titulo-cajitas-boletos">
                <h1>Boletos vendidos en un día</h1>
                <div class="cajitas">
                    <div>
                        <h3>Fecha</h3>
                        <input type="date" placeholder="Corrida a editar">
                    </div>
                </div>
            </div>
            <div class="content-box">
                <table class="tabla-fechaCiudad">
                    <tr bgcolor="#2f6fed" style="color: white;">
                        <th width="10%">Corrida</th>
                        <th width="15%">Salida</th>
                        <th width="15%">Origen</th>
                        <th width="15%">Destino</th>
                        <th width="15%">Autobús</th>
                        <th width="15%">Boletos vendidos</th>
                        <th width="15%">Boletos disponibles</th>
                    </tr>
                    <tr align="center">
                        <td>3</td>
                        <td>15:00</td>
                        <td>Tijuana</td>
                        <td>Mexicali</td>
                        <td>100</td>
                        <td>5</td>
                        <td>39</td>
                    </tr>
                    <tr align="center">
                        <td>6</td>
                        <td>12:00</td>
                        <td>Mexicali</td>
                        <td>Tijuana</td>
                        <td>100</td>
                        <td>6</td>
                        <td>38</td>
                    </tr>
                    <tr align="center">
                        <td>8</td>
                        <td>18:00</td>
                        <td>Mexicali</td>
                        <td>Tijuana</td>
                        <td>100</td>
                        <td>6</td>
                        <td>38</td>
                    </tr>
                    <tr align="center">
                        <td>2</td>
                        <td>12:00</td>
                        <td>Tijuana</td>
                        <td>Mexicali</td>
                        <td>502</td>
                        <td>6</td>
                        <td>28</td>
                    </tr>
                </table>
            </div>
        </form>
        <div class="cerrar-fechaCiudad">
            <button id="cerrarBoletos" class="btn-cancelar">Cerrar</button>
        </div>
    </dialog>

    <!--*********************************AREA DE BOTONES LATERALES Y TABLA GENERAL*********************************-->
    <div class="main-section">
        <div class="sidebar">
            <button class="side-btn agregar" id="abrirAgregar"></button>
            <button class="side-btn editar" id = "abrirEditar"></button>
            <div class="side-btn eliminar" id="abrirEliminar"></div>
            <div class="side-btn fechaCiudad" id="abrirFechaCiudad"></div>
            <button class="side-btn boletos" id="abrirBoletos"></button>
        </div>
        <!--*********************************AREA DE TABLA GENERAL*********************************-->
        <div class="content-box">
            <table>
                <tr bgcolor="#2f6fed" style="color: white;">
                    <th width="10%">#</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Distancia</th>
                    <th>Salida</th>
                    <th>Operador</th>
                    <th>Autobús</th>
                    <th>Matrícula</th>
                    <th>Asientos</th>
                    <th>Pasajeros</th>
                </tr>

                <tr align="center">
                    <td>1</td>
                    <td>Tijuana</td>
                    <td>Mexicali</td>
                    <td>178.4</td>
                    <td>2025-12-11 9:00</td>
                    <td>María López García</td>
                    <td>100</td>
                    <td>TU87Y6</td>
                    <td>44</td>
                    <td>5</td>
                </tr>
                <tr align="center">
                    <td>3</td>
                    <td>Tijuana</td>
                    <td>Mexicali</td>
                    <td>178.4</td>
                    <td>2025-12-11 15:00</td>
                    <td>María López García</td>
                    <td>100</td>
                    <td>TU87Y6</td>
                    <td>44</td>
                    <td>5</td>
                </tr>
                <tr align="center">
                    <td>6</td>
                    <td>Mexicali</td>
                    <td>Tijuana</td>
                    <td>178.4</td>
                    <td>2025-12-11 12:00</td>
                    <td>María López García</td>
                    <td>100</td>
                    <td>TU87Y6</td>
                    <td>44</td>
                    <td>6</td>
                </tr>
                <tr align="center">
                    <td>8</td>
                    <td>Mexicali</td>
                    <td>Tijuana</td>
                    <td>178.4</td>
                    <td>2025-12-11 18:00</td>
                    <td>María López García</td>
                    <td>100</td>
                    <td>TU87Y6</td>
                    <td>44</td>
                    <td>6</td>
                </tr>
                <tr align="center">
                    <td>2</td>
                    <td>Tijuana</td>
                    <td>Mexicali</td>
                    <td>178.4</td>
                    <td>2025-12-11 12:00</td>
                    <td>Carlos Rodríguez Martínez</td>
                    <td>502</td>
                    <td>OSF87U</td>
                    <td>34</td>
                    <td>6</td>
                </tr>
            </table>
        </div>
    </div>
    
    <script src="../statics/js/corridas.js"></script>
</body>
</html>