<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes Cuervo Negro</title>
    <link rel="icon" type="image/x-icon" href="/statics/images/Logo TCN azul.png">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="../statics/images/TCN BLUE.jpg" alt="Logo TCN">
        </div>

        <ul class="menu">
            <li class="activea"><a href="home.html"></a>Inicio</li>
            <li><a href="reservaciones.html">Reservaciones</a></li>
            <li><a href="corridas.html">Corridas</a></li>
            <li><a href="rutas.html"></a>Rutas</li>
            <li><a href="operadores.html">Operadores/a></li>
             <li><a href="autobuses.html">Autobuses</a></li>
        </ul>
    </nav>

  
</body>
</html>