<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión | Transportes Cuervo Negro</title>
    <link rel="stylesheet" href="../statics/css/login.css">
</head>
<body>

    <div class="main">

        <div class="izquierda">
            <img src="../statics/images/bus login.png" alt="Autobús de TCN">
        </div>

        <div class="derecha">
            <div class="logo_TCN">
                <br><br><br>
                <img src="../statics/images/logo.png" alt="Logo de TCN">
            </div>

            <div class="texto">
                <div class="texto-izquierda"></div>
                <div class="texto-centro">
                    <h1>¡Hola, identifícate!</h1>
                    <h2>Accede para descubrir las funcionalidades de la aplicación web de Transportes Cuervo Negro.</h2>
                </div>
                <div class="texto-derecha"></div>
            </div>

            <div class="formulario">
                <div class="form-izquierda"></div>

                <div class="form-centro">
                    <div class="form-centro-primerinput">
                        <h4>Teléfono:</h4>
                        <input type="number" placeholder="Ingresa tu número de teléfono">
                    </div>

                    <div class="form-centro-segundoinput">
                        <h4>Contraseña:</h4>
                        <input type="password" placeholder="Ingresa tu contraseña">
                    </div>
                </div>

                <div class="form-derecha"></div>
            </div>
        </div>

    </div>
    
</body>
</html>