<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión | Transportes Cuervo Negro</title>
    <link rel="stylesheet" href="../statics/css/login.css">
</head>
<body>

    <div class="main">
        <div class="left">
            <img src="../statics/images/bus login.png" alt="Autobús de TCN">
        </div>

        <div class="right">
            <div class="izq"></div>

            <div class="contenedor">
                <div class="up">
                    <br><br>
                    <img src="../statics/images/logo.png" alt="Logo oficial de TCN">
                </div>

                <div class="header">
                    <h1>¡Hola, identifícate!</h1>
                    <p>Accede para descubrir las funcionalidades de la aplicación web de Transportes Cuervo Negro</p>
                </div>

                <div class="form-container">
                    <div class="form-up"></div>

                    <div class="form">

                        <div class="inputs">

                            <h3>Teléfono:</h3>

                            <input type="number" id="numTelefono" maxlength="10" placeholder="Número celular" required>

                            <h3>Contraseña:</h3>

                            <input type="password" id="contraseña" placeholder="Ingresa tu contraseña" maxlength="32" required>

                        </div>

                        <div class="button">
                            <br>
                            <button type="submit" class="btn-iniciarsesion">Iniciar sesión</button>
                        </div>                        

                    </div>

                    <div class="form-down"></div>
                </div>
            </div>

            <div class="der"></div>
        </div>
    </div>
  
</body>
</html>