<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Transportes Cuervo Negro</title>
    <link rel="stylesheet" href="../statics/css/login.css">
</head>
<body>

<main class="container">

    <section class="image-section">
        <img src="../statics/images/bus login.png" alt="Autobús de TCN en carretera">
    </section>

    <section class="form-section">

        <header class="form-header">
            <h1>¡Hola, identifícate!</h1>
            <br>
            <p>
                Accede para descubrir las funcionalidades de la aplicación web
                de Transportes Cuervo Negro.
            </p>
            <br>
        </header>

        <form>

            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="tel" pattern="[0-9]{10}" id="telefono" maxlength="10" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" maxlength="32" required>
            </div>

            <button type="submit" class="btn-primary">
                Continuar
            </button>

        </form>

    </section>

</main>

</body>
</html>
