<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transportes Cuervo Negro</title>
    <link rel="icon" type="image/x-icon" href="/statics/images/Logo TCN azul.png">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="" alt="Logo TCN">
        </div>

        <ul class="menu">
            <li class="activea"><a href="home.html"></a>Inicio</li>
            <li><a href="reservaciones.html">Reservaciones</a></li>
            <li><a href="corridas.html">Corridas</a></li>
            <li><a href="rutas.html"></a>Rutas</li>
            <li><a href="operadores.html">Operadores</li>
             <li><a href="autobuses.html">Autobuses</a></li>
        </ul>
    </nav>

    <div class="contenedor">

        <h1 class="titulo">Operadores</h1>

        <div class="tarjetas">
            
            <div class="tarjeta-activa">
                 <span>Operadores</span>
                 <h2>xxx</h2>
            </div>

            <div class="tarjeta-activa">
                 <span>Lorem</span>
                 <h2>xxx</h2>
            </div>

            <div class="tarjeta-activa">
                 <span>ipdum</span>
                 <h2>xxx</h2>
            </div>

            <div class="filter-box">
                <select>
                    <option selected disabled>Origen</option>
                    <option>Tecate de México</option>
                    <option>Tijuana</option>
                    <option>Mexicali</option>
                </select>
            </div>

            <div class="filter-box">
                <select>
                    <option selected disabled>Destino</option>
                    <option>Tijuana</option>
                    <option>Toluca</option>
                    <option>Tecate</option>
                </select>
            </div>
        </div>


    </div>
    

</body>
</html>