<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Transportes Cuervo Negro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../statics/images/LOGO TCN azul.png">
    <link rel="stylesheet" href="../statics/css/operadores.css">
</head>
<body>

    <div class="top-nav">

        <div class="logo-box">
            <img src="../statics/images/logo.png" alt="Logo TCN" height="80px">
        </div>

        <div class="menu-box">
            <ul class="menu">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="reservaciones.html">Reservaciones</a></li>
                <li><a href="corridas.html">Corridas</a></li>
                <li><a href="rutas.html">Rutas</a></li>
                <li class="activea"><a href="#">Operadores</a></li>
                <li><a href="autobuses.html">Autobuses</a></li>
            </ul>
        </div>

    </div>

    <div class="container">
        <h1 class="title">Operadores</h1>

        

        <div class="filter-box">
            <input type="text" placeholder="Operador">
        </div>

    </div>
    </div>

    <div class="main-section">

       
        <div class="sidebar">
            <button class="side-btn agregar" id="abrirAgregarOperador"></button>
            <button class="side-btn editar" id="abrirEditarOperador"></button>
        </div>

        <div class="content-box">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Operador</th>
                        <th>Fecha de nacimiento</th>
                        <th>Celular</th>
                        <th>Fecha de contrato</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Pedro suarez del rio</td>
                        <td>10-02-25</td>
                        <td>6643679115</td>
                        <td><span class="status disponible">10-02-25</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Arturo no rizo de la torre</td>
                        <td>10-02-25</td>
                        <td>6643679115</td>
                        <td><span class="status disponible">10-02-25</span></td>                       
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Jesus alias el tilin</td>
                        <td>10-02-25</td>
                        <td>6643679115</td>
                        <td><span class="status finalizada">10-02-25</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- ================= DIALOG AGREGAR OPERADOR ================= -->

    <dialog id="agregarOperador">
      <div class="dialog-content">
        <h2>Agregar Operador</h2>

        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Primer Apellido">
        <input type="text" placeholder="Segundo Apellido">
        <input type="tel" placeholder="Celular">
        <input type="date" placeholder="Fecha de nacimiento">

        <div class="dialog-actions">
          <button class="btn btn-action btn-secondary" id="cancelarAgregarOperador">Cancelar</button>
          <button class="btn btn-action btn-primary" id="aceptarAgregarOperador">Guardar</button>
        </div>
      </div>
    </dialog>

    <!-- ================= DIALOG EDITAR OPERADOR ================= -->

    <dialog id="editarOperador">
      <div class="dialog-content">
        <h2>Editar Operador</h2>

        <input type="text" placeholder="Nombre">
        <input type="text" placeholder="Primer Apellido">
        <input type="text" placeholder="Segundo Apellido">
        <input type="tel" placeholder="Celular">
        <input type="date" disabled>

        <div class="dialog-actions">
          <button class="btn btn-action btn-secondary" id="cancelarEditarOperador">Cancelar</button>
          <button class="btn btn-action btn-primary" id="aceptarEditarOperador">Actualizar</button>
        </div>
      </div>
    </dialog>

    <!-- SCRIPT -->

    <script src="../statics/js/operadores.js" defer></script>

</body>
</html>