<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reservaciones | Transportes Cuervo Negro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../statics/images/LOGO TCN azul.png">
    <link rel="stylesheet" href="../statics/css/reservaciones.css">
</head>
<body>

    <div class="top-nav">
        <div class="logo-box">
            <img src="../statics/images/logo.png" alt="Logo TCN">
        </div>
        <div class="menu-box">
            <ul class="menu">
                <li><a href="index.html">Inicio</a></li>
                <li class="activea"><a href="#">Reservaciones</a></li>
                <li><a href="corridas.html">Corridas</a></li>
                <li><a href="rutas.html">Rutas</a></li>
                <li><a href="operadores.html">Operadores</a></li>
                <li><a href="autobuses.html">Autobuses</a></li>
            </ul>
        </div>
    </div>


    <div class="container">
        <h1 class="title">Reservaciones</h1>

        <div class="cards-filters-wrapper">
            <div class="cards">
                <div class="card active-card">
                    <span>Reservaciones activas</span>
                    <h2>200</h2>
                </div>
        
                <div class="card">
                    <span>Total reservado hoy</span>
                    <h2>80</h2>
                </div>
        
                <div class="card">
                    <span>Reservaciones futuras</span>
                    <h2>120</h2>
                </div>
            </div>
            <div class="filter-boxes">
                <div class="filter-box filter-box--mediano">
                    <h2>Fecha</h2>
                    <input type="date" id="filtro-fecha">
                </div>
        
                <div class="filter-box filter-box--corto">
                    <h2>Número</h2>
                    <input type="number" id="filtro-numero" placeholder="Reservación" min="1">
                </div>
        
                <div class="filter-box">
                    <h2>Pasajero</h2>
                    <input type="text" id="filtro-pasajero" placeholder="Nombre de pasajero">
                </div>
            </div>
        </div>
    </div>

    <!-- SECCION PRINCIPAL -->
    <div class="main-section">

        <div class="sidebar">
            <button class="side-btn mostrar" id="mostrarBoleto"></button>
        </div>

        <div class="content-box">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Corrida</th>
                        <th>Cliente</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Salida</th>
                        <th>Llegada</th>
                        <th>Pasajeros</th>
                        <th>Limite de pago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>26/02/2026</td>
                        <td>1</td>
                        <td>Dalila Gamez</td>
                        <td>Tijuana</td>
                        <td>Hermosillo</td>
                        <td>28/02/2026 9:30</td>
                        <td>29/02/2026 12:30</td>
                        <td>3</td>
                        <td>27/02/2026</td>
                    </tr>
                    <tr>
                        <td>26/02/2026</td>
                        <td>1</td>
                        <td>Carolina Bernal</td>
                        <td>Tijuana</td>
                        <td>Hermosillo</td>
                        <td>28/02/2026 9:30</td>
                        <td>29/02/2026 12:30</td>
                        <td>1</td>
                        <td>27/02/2026</td>
                    </tr>
                    <tr>
                        <td>26/02/2026</td>
                        <td>1</td>
                        <td>Ivan Hernandez Orozco</td>
                        <td>Tijuana</td>
                        <td>Hermosillo</td>
                        <td>28/02/2026 9:30</td>
                        <td>29/02/2026 12:30</td>
                        <td>1</td>
                        <td>27/02/2026</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- DIALOGO BOLETO -->
    <dialog class="dialogo-boleto" id="dialogoBoleto">
        
        <div class="left">
            <button>←</button>
        </div>

        <div class="center">
            
            <div class="center-img">
                <img src="../statics/images/boleto ejemplo.jpg" alt="Boleto del pasajero">
            </div>

            <div class="center-buttons">

                <button id="btnCerrar">
                    X Cerrar
                </button>

                <button id="btnReimprimir">
                    <img src="../statics/images/impresora.png" alt="">
                    Reimprimir
                </button>

            </div>

        </div>

        <div class="right">
            <button>→</button>
        </div>

    </dialog>

    <script src="../statics/js/reservaciones.js"></script>

</body>
</html>