{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Corridas | Transportes Cuervo Negro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/LOGO TCN azul.png' %}">
    <link rel="stylesheet" href="{% static 'css/corridas.css' %}">
    <script src="https://kit.fontawesome.com/8786bfad35.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="top-nav">
        <div class="logo-box">
            <img src="{% static 'images/logo.png' %}" alt="Logo TCN">
        </div>
        <div class="menu-box">
            <ul class="menu">
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'reservaciones' %}">Reservaciones</a></li>
                <li class="activea"><a href="#">Corridas</a></li>
                <li><a href="{% url 'rutas' %}">Rutas</a></li>
                <li><a href="{% url 'operadores' %}">Operadores</a></li>
                <li><a href="{% url 'autobuses' %}">Autobuses</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1 class="title">Corridas</h1>

        <div class="cards">

            <div class="card active-card">
                <span>Corridas Activas</span>
                <h2>{{ total_activas }}</h2>
            </div>

            <div class="card">
                <span>Pasajeros</span>
                <h2>{{ total_pasajeros }}</h2>
            </div>

            <div class="filter-boxes">
                <form class="form-filtros" method="GET">
                    <div class="filter-box">
                        <h2>Número</h2>
                        <input type="number" min="0" placeholder="Número" id="numero_corrida" value="{{ request.GET.filtro_corrida }}" name="filtro_corrida">
                    </div>
            
                    <div class="filter-box">
                        <h2>Origen</h2>
                        <select name="filtro_origen" onchange="this.form.submit()" id="selectOrigen">
                            <option selected disabled value="">Origen</option>
                            <option value="todos" {% if request.GET.filtro_origen == 'todos' %} selected {%endif%}>Todos</option>
                            {% for ciudad in ciudades %}
                            <option value="{{ ciudad.codigo }}" {% if request.GET.filtro_origen == ciudad.codigo %} selected {% endif %}>{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-box">
                        <h2>Destino</h2>
                        <select name="filtro_destino" onchange="this.form.submit()" id="selectDestino">
                            <option selected disabled value="">Destino</option>
                            <option value="todos" {% if request.GET.filtro_destino == 'todos' %} selected {% endif %}>Todos</option>
                            {% for ciudad in ciudades %}
                            <option value="{{ ciudad.codigo }}" {% if request.GET.filtro_destino == ciudad.codigo %} selected {% endif %}>{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- DIÁLOGO AGREGAR CORRIDA -->
    <dialog id="agregar" class="dialog-agregar dialog-base">
        <form method="POST" id="form-agregar">
            {% csrf_token %}
            <input type="hidden" name="action" value="agregar_corrida"/>
            <h1>Agregar Corrida</h1>
                <div>
                    <div class="cajitas">
                        <div>
                            <h3>Ruta</h3>
                            <select name="ruta" class="ruta" required>
                                <option selected value="">Ruta</option>
                                {% for ruta in rutas %}
                                <option value="{{ ruta.codigo }}">{{ ruta.codigo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <h3>Operador</h3>
                            <select name="operador" required>
                                <option selected value="">Operador</option>
                                {% for operador in operadores %}
                                <option value="{{ operador.numero }}">{{ operador.numero }} - {{ operador.nombre }} {{ operador.apellPat }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="cajitas">
                        <div>
                            <h3>Fecha</h3>
                            <input type="date" name="fecha_salida" required>
                        </div>
                        <div>
                            <h3>Salida</h3>
                            <input type="time" width="118px" name="hora_salida" required>
                        </div>
                        <div>
                            <h3>Llegada</h3>
                            <input type="time" width="118px" name="hora_llegada" required>
                        </div>
                    </div>
                    <div class="cajitas">
                        <div>
                            <h3>Precio</h3>
                            <input type="number" min="100" max="3000" placeholder="Precio (M.X.N)" name="tarifaBase" required>
                        </div>
                        <div>
                            <h3>Autobús</h3>
                            <select name="autobus" required>
                                <option selected value=""> Seleccionar autobús</option>
                                {% for autobus in autobuses %}
                                <option value="{{ autobus.numero }}">{{autobus.numero}} - {{autobus.marca.nombre}} {{ autobus.modelo.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            <div class="aceptar-cancelar">
                <button type="submit" id="aceptarAgregar" class="btn-aceptar">Aceptar</button>
                <button type="button" id="cancelarAgregar" class="btn-cancelar">Cancelar</button>
            </div>
        </form>
    </dialog>

    <!-- DIÁLOGO EDITAR CORRIDA -->
    <dialog id="editar" class="dialog-editar dialog-base">
        <form method="POST" id="form_corrida">
            {% csrf_token %}
            <input type="hidden" name="action" value="editar_corrida">
            <input type="hidden" id="editar_corrida" name="corrida_numero">
            <h1>Editar Corrida</h1>
            <div class="cajitas">
                <div>
                    <h3>Operador</h3>
                    <select name="edit_operador" id="editarOperador">
                        <option selected disabled>Operador</option>
                        {% for operador in operadores %}
                        <option value="{{ operador.numero }}">{{ operador.numero }} - {{ operador.nombre }} {{ operador.apellPat }} {{ operador.apellMat }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="cajitas">
                <div>
                    <h3>Autobús</h3>
                    <select name="edit_autobus" id="editarAutobus">
                        <option selected disabled>Autobús</option>
                    {% for autobus in autobuses %}
                        <option value="{{ autobus.numero }}">{{ autobus.numero }} - {{ autobus.marca }} {{ autobus.modelo }} ({{ autobus.matricula }})</option>
                    {% endfor %}
                    </select>
                </div>
            </div>

            <div class="cajitas">
                <div>
                    <h3>Fecha</h3>
                    <input type="date" name="edit_fecha_salida" id="editarFechaSalida">
                </div>
                <div>
                    <h3>Salida</h3>
                    <input type="time" name="edit_hora_salida" id="editarHoraSalida">
                </div>
                <div>
                    <h3>Llegada</h3>
                    <input type="time" name="hora_llegada" id="editarHoraLlegada">
                </div>
            </div>
            <div class="aceptar-cancelar">
                <button type="submit" id="aceptarEditar" class="btn-aceptar">Aceptar</button>
                <button type="button" id="cancelarEditar" class="btn-cancelar">Cancelar</button>
            </div>
        </form>
    </dialog>

    <!-- DIÁLOGO ELIMINAR CORRIDA -->
    <dialog id="eliminar" class="dialog-eliminar dialog-base">
        <h1>Eliminar Corrida</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="estado_corrida_numero" id="estado_corrida_numero">
            <input type="hidden" name="action" value="cambiar_estado_corrida">
            <div class="cajitas">
                <div>
                    <h3>Estado actual</h3>
                    <input type="text" placeholder="Estado de corrida" name="estado_actual" id="estado_actual" readonly>
                </div>
            </div>
            <div>
                <h3>Estado nuevo</h3>
                <select name="baja_estado" id="estado">
                    {% for estado in estados_corrida %}
                    <option {% if estado.descripcion == 'ACTIVA' %} selected {% endif %} value="{{ estado.codigo }}">{{ estado.descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
        
            <div class="aceptar-cancelar">
                <button type="submit" id="aceptarEliminar" class="btn-aceptar">Aceptar</button>
                <button type="button" id="cancelarEliminar" class="btn-cancelar">Cancelar</button>
            </div>
        </form>
    </dialog>

    <!-- DIÁLOGO CORRIDAS POR FECHA Y CIUDAD -->
    <dialog id="fechaCiudad" class="dialog-fechaCiudad dialog-base">
        <form method="GET" id="form-fecha-ciudad">
            <div class="titulo-cajitas">
                <h1>Corridas por fecha y ciudad</h1>
                <div class="cajitas">
                    <div>
                        <h3>Fecha</h3>
                        <input type="date" name="filtro_fecha" value="{{ request.GET.filtro_fecha }}">
                    </div>
                    <div>
                        <h3>Ciudad</h3>
                        <select name="filtro_ciudad">
                            <option selected disabled>Origen</option>
                            <option value="todos" {% if request.GET.filtro_ciudad == 'todos' %} selected {%endif%}>Todos</option>
                            {% for ciudad in ciudades %}
                            <option value="{{ ciudad.codigo }}" {% if request.GET.filtro_ciudad == ciudad.codigo %} selected {% endif %}>{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn-aceptar" style="margin-top: 20px;">Buscar</button>
                </div>
            </div>
        </form>
            <div class="content-box">
                <table class="tabla-fechaCiudad">
                    <tr bgcolor="#2f6fed">
                        <th width="15%">Salida</th>
                        <th width="10%">Corrida</th>
                        <th width="15%">Destino</th>
                        <th width="15%">Autobús</th>
                        <th width="15%">Matrícula</th>
                        <th width="30%">Operador</th>
                    </tr>
                    {% for c in corridas_ciudad_fecha %}
                    <tr>
                        <td>{{ c.hora_salida }}</td>
                        <td>{{ c.numero }}</td>
                        <td>{{ c.ruta.ciudadDestino }}</td>
                        <td>{{ c.autobus.numero }}</td>
                        <td>{{ c.autobus.matricula }}</td>
                        <td>{{ c.operador.nombre }} {{ c.operador.apellPat }} {{ c.operador.apellMat }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay corridas para esta fecha y ciudad</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
        <div class="cerrar-fechaCiudad">
            <button id="cerrarFechaCiudad" class="btn-cancelar">Cerrar</button>
        </div>
    </dialog>

    <!-- DIÁLOGO BOLETOS VENDIDOS EN UN DÍA -->

    <dialog id="boletos" class="dialog-fechaCiudad dialog-base">
        <form method="GET" id="form-boletos">
            <div class="titulo-cajitas-boletos">
                <h1>Boletos vendidos en un día</h1>
                <div class="filtro-fecha-boletos">
                    <h3>Fecha:</h3>
                    <input type="date" name="fecha_boletos" id="fecha_boletos" value="{{ request.GET.fecha_boletos }}" onchange="this.form.submit()">
                </div>
            </div>
        </form>
    
        <div class="content-box">
            <table class="tabla-fechaCiudad">
                <tr bgcolor="#2f6fed" style="color: white;">
                    <th width="11%">Corrida</th>
                    <th width="11%">Salida</th>
                    <th width="11%">Origen</th>
                    <th width="11%">Destino</th>
                    <th width="11%">Autobús</th>
                    <th width="11%">Vendidos</th>
                    <th width="12%">Disponibles</th>
                </tr>
                {% for c in corridas_boletos %}
                <tr>
                    <td>{{ c.numero }}</td>
                    <td>{{ c.hora_salida }}</td>
                    <td>{{ c.ruta.ciudadOrigen.nombre }}</td>
                    <td>{{ c.ruta.ciudadDestino.nombre }}</td>
                    <td>{{ c.autobus.numero }}</td>
                    <td>{{ c.boletos_vendidos }}</td>
                    <td>{{ c.lugaresDisp }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No hay corridas</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
        <div class="cerrar-fechaCiudad">
            <button id="cerrarBoletos" class="btn-cancelar">Cerrar</button>
        </div>
    </dialog>

    <!-- ÁREA DE BOTONES LATERALES Y TABLA GENERAL -->
    <div class="main-section">
        <div class="sidebar">
            <button class="side-btn agregar" id="abrirAgregar"></button>
            <button class="side-btn editar" id="abrirEditar"></button>
            <div class="side-btn eliminar" id="abrirEliminar"></div>
            <div class="side-btn fechaCiudad" id="abrirFechaCiudad"></div>
            <button class="side-btn boletos" id="abrirBoletos"></button>
        </div>

        <div class="content-box">
            <table class="table">
                <thead>
                    <tr bgcolor="#2f6fed">
                        <th width="10%">#</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Distancia</th>
                        <th>Salida</th>
                        <th>Operador</th>
                        <th>Autobús</th>
                        <th>Matrícula</th>
                        <th>Asientos</th>
                        <th>Pasajeros</th>
                    </tr>
                </thead>
                <tbody>
                    {% for corrida in corridas %}
                    <tr class="corrida-row" data-numero="{{ corrida.numero }}" data-operador="{{ corrida.operador.numero }}" data-autobus="{{ corrida.autobus.numero }}" data-fechaSalida="{{ corrida.fecha_salida|date:'Y-m-d' }}" data-horaSalida="{{ corrida.hora_salida|time:'H:i' }}" data-horaLlegada="{{ corrida.hora_llegada|time:'H:i'}}" data-estado="{{ corrida.estado.codigo }}">
                        <td>{{ corrida.numero }}</td>
                        <td>{{ corrida.ruta.ciudadOrigen }}</td>
                        <td>{{ corrida.ruta.ciudadDestino }}</td>
                        <td>{{ corrida.ruta.distancia }}</td>
                        <td>{{ corrida.fecha_salida }} {{ corrida.hora_salida }}</td>
                        <td>{{ corrida.operador.nombre }} {{ corrida.operador.apellPat }} {{ corrida.operador.apellMat }}</td>
                        <td>{{ corrida.autobus.numero }}</td>
                        <td>{{ corrida.autobus.matricula }}</td>
                        <td>{{ corrida.autobus.cantAsientos }}</td>
                        <td>{{ corrida.pasajeros_count }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10">No hay corridas registradas</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="{% static 'js/corridas.js' %}"></script>
    <div class="notificaciones">
        {% if messages %}
        {% for m in messages %}
        <script>
            console.log("=== DEBUG TOAST ===");
            console.log("1. tipoMensaje:", "{{ m.tags }}");
            console.log("2. textoMensaje:", "{{ m|escapejs }}");
            console.log("3. typeof crearTipoToast:", typeof crearTipoToast);
            console.log("4. typeof createToast:", typeof createToast);

            const tipoMensaje = "{{ m.tags }}";
            const textoMensaje = "{{ m|escapejs }}";

            if (typeof crearTipoToast === "function") {
                console.log("5. Llamando a crearTipoToast...");
                crearTipoToast(tipoMensaje, textoMensaje);
            } else {
                console.error("5. crearTipoToast NO es una función!");
            }
        </script>
        {% endfor %}
        {% else %}
        <script>console.log("No hay mensajes en messages");</script>
        {% endif %}
    </div>
</body>
</html>